<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixpack.chat.admin.dao.AdminDao">

<select id="selectAdmin" parameterType="hashmap" resultType="com.sixpack.chat.admin.vo.AdminVO">
		select 
			empId, empPwd
		from EMP_LIST
		where empId = #{id}
</select>

	
</mapper>